// Custom styles.
body{   
        background:url(https://raw.githubusercontent.com/Kitaharakasusa/img/master/%E4%B8%83%E5%A4%95%E7%AF%874.png);
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
     }

.header-inner{
	opacity: 0.8;
}
.main-inner { 
   // margin-top: 60px;
   // padding: 60px 60px 60px 60px;
    
    opacity: 0.9;
}
// Custom styles.
// 主页文章添加阴影效果
 .post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }
.content {
    border-radius: 10px;
    margin-top: 60px;
    background:rgba(255,255,255,0.9) none repeat scroll !important;
 }